/* Brand color: #353535 */

body {
  background-color: #457b9d;
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #a8dadc;
}

header {
  padding: 1em;
  text-align: center;
}

header > img {
  max-height: 300px;
}

h1 {
  text-align: center;
  font-size: 3em;
}

#main {
  padding: 1.25em;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#main > div > img,
#main > div > a > img {
  max-height: 200px;
  border-radius: 50%;
}
