/* Brand color: #353535 */

.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

nav > div > img {
  max-height: 200px;
  border-radius: 50%;
}
