/* Brand color: #353535 */

html {
  height: 100vh;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

header > img {
  max-height: 300px;
}

h1 {
  text-align: center;
  font-size: 3em;
}

nav {
  padding: 1.25em;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

nav > div > img {
  max-height: 200px;
  border-radius: 50%;
}

/* Request Page */
#request {
  display: flex;
  flex-wrap: wrap;
}

#request img {
  max-height: 600px;
}

#user {
  max-width: 600px;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#user > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#user li + li {
  margin-top: 1em;
}

#user label {
  display: inline-block;
  width: 200px;
  text-align: right;
}

#user input:focus {
  border-color: #000;
}

#user select {
  width: 200px;
}
