body {
  min-height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

nav {
  height: 4vh;
}

#sidebar {
  background-color: #30a0e1;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.message {
  margin: 2em auto;
  max-width: 75%;
}

h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-family: 'Hind Vadodara', sans-serif;
}

.column.is-two-thirds {
  padding: 2em;
}
