body {
  height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

header {
  background-color: #30a0e1;
  height: 96.3vh;
}

.headings {
  position: relative;
  top: calc(100vh * 0.4);
}

h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-family: 'Hind Vadodara', sans-serif;
}

#categories {
  max-height: 50vh;
}

.is-clicked {
  background-color: #30a0e1;
  color: black;
}

.is-hidden {
  display: none;
}

#library-faq,
#patron-faq {
  background-color: #ff5e2b;
}

.card .card-image,
.card .card-image .image img {
  max-width: 200px;
  margin: auto;
}
