body {
  height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

header {
  background-color: #30a0e1;
}

h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-family: 'Hind Vadodara', sans-serif;
}

.card {
  margin: auto;
}

.is-clicked {
  background-color: #ff5e2b;
}

.is-hidden {
  display: none;
}

#library-faq,
#patron-faq {
  background-color: #ff5e2b;
}
