body {
  font-family: "Maven Pro", sans-serif;
}

h1 {
  font-family: "Exo", sans-serif;
}

h2 {
  font-family: "Hind Vadodara", sans-serif;
}

#head {
  background-color: #30a0e1;
  min-height: 50vh;
  padding-bottom: 7em;
  background-image: url("../images/new-connections.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

#request {
  background-color: #ff5e2b;
  margin: 2em 0 4em 0;
}

#main {
  max-width: 50%;
  margin: auto;
  position: relative;
  top: -150px;
}

.card {
  min-width: 200px;
}
