body {
  background-color: #457b9d;
  min-height: 100vh;
}

.container {
  background-color: #a8dadc;
}

#main {
  padding: 1.25em;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#main > div > a > img {
  max-height: 200px;
  border-radius: 50%;
}
