body {
  /* background-color: #457b9d; */
  /* background-color: #e5e5e5; */
  min-height: 100vh;
}

#head {
  background-color: #30a0e1;
  min-height: 50vh;
  padding-bottom: 7em;
}

header {
  min-height: 40vh;
}

/* figure > img {
  max-width: 400px;
  border-radius: 25%;
  margin: auto;
} */

#request {
  background-color: #ff5e2b;
}

main {
  position: absolute;
}

#main {
  max-width: 50%;
  margin: auto;
  position: relative;
  top: -150px;
}

.card {
  margin: 2em;
}
