body {
  height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-family: 'Hind Vadodara', sans-serif;
}

header {
  background-color: #30a0e1;
  height: 50%;
  margin: auto;
}

.headings {
  padding-top: 7em;
}

main {
  max-height: 40vh;
}

.highlight {
  color: #ff5e2b;
}

form {
  position: relative;
  top: -250px;
}

#submit {
  background-color: #ff5e2b;
}
