header {
  display: flex;
  align-items: space-between;
  width: 100%;
}

.image {
  width: 600px;
  background-color: green;
}

.people {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.person {
  text-align: center;
  margin: 0 2em;
}

div.person > img {
  height: 200px;
}

.profile {
  width: 100%;
  display: flex;
}

.profile-image > img {
  max-width: 600px;
}
