body {
  background-color: white;
  min-height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

header {
  background-color: #30a0e1;
}

h1 {
  font-family: 'Exo', sans-serif;
}

h2 {
  font-family: 'Hind Vadodara', sans-serif;
}

header > div > .subtitle {
  padding-top: 2em;
}

.container {
  margin: auto;
}

.profiles {
  margin: 1em;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(218, 249, 255, 1) 61%,
    rgba(191, 244, 255, 1) 100%
  );
  font-size: 1.2em;
}

#jason,
#bea,
#kay,
#vee,
#team {
  background-color: #ff5e2b;
  font-family: 'Hind Vadodara', sans-serif;
}

#team {
  margin: 2em;
}
