body {
  background-color: white;
  min-height: 100vh;
}

header {
  background-color: #30a0e1;
}

.container {
  margin: auto;
}

.profiles {
  margin: 1em;
}

#jason,
#bea,
#kay,
#vee,
#team {
  background-color: #ff5e2b;
}

#team {
  margin: 2em;
}
